<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="https://hunter2labs.s3.amazonaws.com/common.css">
    <script src='https://hunter2labs.s3.amazonaws.com/common.js'></script>
  </head>
  <body>
    <form method="post">
      <input type=text name='search' size='50'>
      <button type=submit>Search employees</button>
    </form>
    {% if employees %}
      <h3>Employees:</h3>
      <table>
        <thead>
          <tr></tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Date of Birth</th>
            <th>Salary</th>
        </thead>
        <tbody>
        {% for emp in employees %}
          <tr>
            <td>{{ emp.name }}</td>
            <td>{{ emp.email }}</td>
            <td>{{ emp.phone }}</td>
            <td>[redacted]</td>
            <td>[redacted]</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </body>
</html>